.my-navbar {
    background-color: #D9D9D9;
}

.my-navbar .nav-link {
    text-decoration: none;
}

@media (max-width: 576px) {
    .my-navbar img {
        margin-left: 25px;
    }
}

@media (min-width: 577px) and (max-width: 992px) {
    .my-navbar img {
        margin-left: 25px
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    .my-navbar img {
        margin-left: 150px; 
    }
}

@media (min-width: 1201px) {
    .my-navbar img {
        margin-left: 235px; 
    }
}